<nav class="navbar navbar-default bootsnav navbar-fixed no-background white">
    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->


    <div class="container">
        <div class="attr-nav">
            <ul>
                <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
            </ul>
        </div>

        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#brand">
                <img src="assets/images/logo3.png" class="logo" alt="">
                <!--<img src="assets/images/footer-logo.png" class="logo logo-scrolled" alt="">-->
            </a>

        </div>
        <!-- End Header Navigation -->

        <!-- navbar menu -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{nav.home.[0]}}">{{nav.home.[1]}}</a></li>
                <li><a href="{{nav.about.[0]}}">{{nav.about.[1]}}</a></li>
                <li><a href="{{nav.service.[0]}}">{{nav.service.[1]}}</a></li>
                <li><a href="{{nav.portfolio.[0]}}">{{nav.portfolio.[1]}}</a></li>
                <li><a href="{{nav.team.[0]}}">{{nav.team.[1]}}</a></li>
                <li><a href="{{nav.contact.[0]}}">{{nav.contact.[1]}}</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>

</nav>
